[
  {
    "name": "身体情况",
    "items": [
      {
        "name": "称重(kg)",
        "hint": "请输入重量（无任何负重）",
        "field": "weight",
        "value": ""
      }
    ]
  },
  {
    "name": "饮食情况",
    "items": [
      {
        "name": "早餐",
        "hint": "请输入早餐",
        "field": "breakfast",
        "value": ""
      },
      {
        "name": "午餐",
        "hint": "请输入午餐",
        "field": "noon",
        "value": ""
      },
      {
        "name": "晚餐",
        "hint": "请输入晚餐",
        "field": "dinner",
        "value": ""
      }
    ]
  },
  {
    "name": "运动情况",
    "items": [
      {
        "name": "跑步",
        "hint": "请输入跑步时间和里程",
        "field": "run",
        "value": ""
      },
      {
        "name": "杠铃卧推",
        "hint": "请输入组数和每组个数",
        "field": "wotui",
        "value": ""
      },
      {
        "name": "杠铃推举",
        "hint": "请输入组数和每组个数",
        "field": "tuiju",
        "value": ""
      }
    ]
  }
]